<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/style.css">
    <title>Calendário Acadêmico</title> 
</head>
<body>

    <head>
        <nav>
            <div class="Head-Icon">
                <img class="icon" src="../imgs/index/Head-Icon.jpg" height="50px">
                <li>Turma 1</li>
            </div>
            <ul>
                <button>
                    <li>Calendário</li>
                </button>
                <button>
                    <li>Disciplinas</li>
                </button>
                <button>
                    <li>Sobre</li>
                </button>
            </ul>
        </nav>
        <div class="container">
            <div class="Head-Container">
                <div class="main-title">
                    <h1>Bacharelado em <br>Inteligência Artificial</h1>
                </div>
                <div class="agent-img">
                    <img class="agent" src="../imgs/index/agent-icon.png">
                </div>
            </div>
        </div>
    </head>

    <main>

    </main>

    <footer>

    </footer>

    <script src="js\script.js"></script>
</body>
</html>