<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles/style.css">
    <title>Gestão Acadêmica</title> 
</head>
<body>

    <header>

        <nav>
            <div class="Head-Icon">
                <img class="icon" src="../static/imgs/index/Head-Icon.jpg" height="50px">
                <li>Turma 1</li>
            </div>
            <ul>
                <a href="/new">
                    <button >
                        <li>Adicionar</li>
                    </button>
                </a>
                <a href="">
                    <button>
                        <li>Disciplinas</li>
                    </button>
                </a>
                <a href="">
                    <button>
                        <li>Sobre</li>
                    </button>
                </a>
            </ul>
        </nav>

        <div class="container">
            <div class="Head-Container">
                <div class="main-title">
                    <h1>Bacharelado em <br>Inteligência Artificial</h1>
                </div>
                <div class="agent-img">
                    <img class="agent" src="../static/imgs/index/agent-icon.png">
                </div>
            </div>
        </div>

    </header>

    <main>

        <div class="navagation-buttons">
            <button class="nav-button">Todos</button>
            <button class="nav-button">Provas</button>
            <button class="nav-button">Eventos</button>
            <button class="nav-button">Atividades</button>
        </div>

        <section class="content">

            <div class="box">
                <!-- <li class="item">
                    <p>descrição</p>
                    <p>data e hora se aplicavel</p>
                </li>
                <li class="item">
                    <p>descrição</p>
                    <p>data e hora se aplicavel</p>
                </li>
                <li class="item">
                    <p>descrição</p>
                    <p>data e hora se aplicavel</p>
                </li> -->
            </div>

        </section>

  </main>

    <footer>

        <div class="credits">
            <p>Este site foi desenvolvido unicamente para fins estudantis do curso de Bacharelado em Inteligência Artificial da UFDPar</p>
        </div>

    </footer>

    <script src="../static/js/script.js"></script>
</body>
</html>