<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/new.css">
    <title>Calendário Acadêmico</title> 
</head>
<body>

    <header>

        <nav>
            <div class="Head-Icon">
                <img class="icon" src="../imgs/new/Head-Icon.jpg" height="50px">
                <li>Turma 1</li>
            </div>
            <ul>
                <button>
                    <li>Calendário</li>
                </button>
                <button>
                    <li>Disciplinas</li>
                </button>
                <button>
                    <li>Sobre</li>
                </button>
            </ul>
        </nav>

        <div class="container">
            <div class="Head-Container">
                <div class="main-title">
                    <h1>Bacharelado em <br>Inteligência Artificial</h1>
                </div>
                <div class="agent-img">
                    <img class="agent" src="../imgs/new/agent-icon.png">
                </div>
            </div>
        </div>

    </header>

    <main>
        <!-- Add new task -->

        <section class="new-task">
            <div class="container-chatbox">
                <div class="bia-ai">
                    <img class="Head-Icon" src="../imgs/new/Head-Icon.jpg" height="50px">
                    <p>BiaAI</p>
                </div>

                <div class="text-area">
                    <input type="text" placeholder="Digite ou cole informações da atividade/evento.">
                </div>
            </div>
            <!-- <div class="reponse-area"></div> -->

        </section>

        <section class="verification">

            <h2>Verifique as informações</h2>

            <div class="response">
                <p id="responseAI">

                </p>
            </div>

            <div class="verification-area">
                    <button id="send">Confirmar</button>
                    <button id="edit">Editar</button>
                </div>

        </section>

    </main>

    <footer>

        <div class="credits">
            <p>Este site foi desenvolvido unicamente para fins estudantis do curso de Bacharelado em Inteligência Artificial da UFDPar</p>
        </div>

    </footer>

    <script src="js\script.js"></script>
</body>
</html>