<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles/new.css">
    <title>Calendário Acadêmico</title> 
</head>
<body>

    <header>

        <nav>
            <div class="Head-Icon">
                <img class="icon" src="../static/imgs/new/Head-Icon.jpg" height="50px">
                <li>Turma 1</li>
            </div>
            <ul>
                <button>
                    <li>Adicionar</li>
                </button>
                <button>
                    <li>Disciplinas</li>
                </button>
                <button>
                    <li>Sobre</li>
                </button>
            </ul>
        </nav>

        <div class="container">
            <div class="Head-Container">
                <div class="main-title">
                    <h1>Bacharelado em <br>Inteligência Artificial</h1>
                </div>
                <div class="agent-img">
                    <img class="agent" src="../static/imgs/new/agent-icon.png">
                </div>
            </div>
        </div>

    </header>

    <main>
        <!-- Add new task -->

        <section class="new-task">
            <div class="container-chatbox">
                <div class="bia-ai">
                    <img class="Head-Icon" src="../static/imgs/new/Head-Icon.jpg" height="50px">
                    <p>BiaAI</p>
                </div>

                <div class="text-area">
                    <form action="/extrair-dados" id="formAI">
                        <input id="user-text" type="text" placeholder="Digite ou cole informações da atividade/evento.">
                        <button id = "send-text" type="button">></button>
                    </form>
                </div>
            </div>
            <!-- <div class="reponse-area"></div> -->

        </section>

        <section class="verification" id="verification">

        </section>

    </main>

    <footer>

        <div class="credits">
            <p>Este site foi desenvolvido unicamente para fins estudantis do curso de Bacharelado em Inteligência Artificial da UFDPar</p>
        </div>

    </footer>

    <script src="../static/js/new.js"></script>
</body>
</html>