* {
    padding: 0;
    margin: 0;

}

body {
    background-color: #13110c;
    color: #f0efef;
    padding: 2rem;
    height: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    height: 40%;
}

nav {
    display: flex;
    flex-direction: row;
    width: 100%;
    position: relative;
}

button {
    border: none;
    outline: none;
    background-color: transparent;
    color: #f0efef;
    cursor: pointer;
}

.Head-Icon {
    width: 50%;
    display: flex;
}

.icon {
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 0.5rem;
}

ul {
    list-style: none;
    display: flex;
    margin-top: 0.2rem;
    position: absolute;
    right: 1rem;
}

li {
    padding: 0.5rem;
    background-color: transparent;
    list-style: none;
}

.container {
    background: linear-gradient(135deg, #443d96, #15518d);
    border-radius: 1rem;
    margin-top: 1rem;
}

.Head-Container {
    display: flex;
}

.main-title {
    width: 50%;
    display: flex;
    align-items: center;
    padding-left: 1rem;
}

.agent-img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.agent {
    height: 13rem;
}


main {
    height: 45vh;
    flex: 1;
}

.navagation-buttons {
    display: flex;
    gap: 1rem;
    padding-top: 1rem;
}

.nav-button {
    background-color: #443d96;
    border-radius: 0.8rem;
    padding: 0.3rem;
    width: 6rem;
}

.content {
    background-color: #733199;
    border-radius: 1rem;
    margin-top: 1rem;
    color: #f0efef;
    gap: 1rem;
    padding: 1.5rem;
}

.box {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    max-height: 460px;
    overflow-y: auto;
    padding-right: 0.5rem;

    /* Firefox */
    scrollbar-width: thin;
    scrollbar-color: #443d96 transparent;
}

/* Chrome, Edge, Safari */
.box::-webkit-scrollbar {
    width: 8px;
}

.box::-webkit-scrollbar-track {
    background: transparent;
}

.box::-webkit-scrollbar-thumb {
    background-color: #443d96;
    border-radius: 8px;
}

.box::-webkit-scrollbar-thumb:hover {
    background-color: #a200ff;
}

.item {
    border: 1px solid #979696;
    border-radius: 8px;
    background-color: #520081;
}

footer {
    background-color: #272727 ;
    margin-left: -2rem;
    margin-right: -2rem;
    margin-bottom: -2rem;
    height: 4rem;
    width: calc(100% + 4rem);
    display: flex;
    align-items: center;
}

.credits {
    padding-left: 2rem;
    text-align: center;
}